/*the body*/

body {
  width: 100vw;
  height: 100vh;

  margin: 0;

  display: flex;

  justify-content: center;

  flex-wrap: wrap;

  align-items: center;

  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
}

/*container*/

.container {
  width: 918px;
  height: 500px;

  margin: 40px 0 0;

  border-radius: 8px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
}
/*orange space*/

.box1 {
  background-color: hsl(31, 77%, 52%);

  width: 309px;
}

/*dark cyan space*/

.box2 {
  background-color: hsl(184, 100%, 22%);

  width: 309px;
}

/*very dark cyan space*/

.box3 {
  background-color: hsl(179, 100%, 13%);

  width: 309px;
}

.img {
  padding-top: 48px;
  padding-left: 48px;
}

.heading {
  font-family: "Big Shoulders Display", cursive;
  font-size: 26.4px;

  color: hsl(0, 0%, 95%);

  padding-left: 48px;
}

.content {
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.6;
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: -7px;
  padding-right: 48px;
  padding-left: 48px;
}

.button {
  font-family: "Lexend Deca", sans-serif;

  border: 2px solid hsl(0, 0%, 95%);
  background-color: hsl(0, 0%, 95%);

  padding: 14px 3px 10px 0px;
  margin: 85px 110px 40px 49px;

  width: 137px;
  height: 26px;

  text-align: center;

  border-radius: 30px;

  transition: all 0.4s ease-in-out;
}

.button a {
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background-color: transparent;
}

.button:hover a {
  color: hsl(0, 0%, 95%);
}

.btn1 {
  color: hsl(31, 77%, 52%);

  text-decoration: none;
}

.btn2 {
  color: hsl(184, 100%, 22%);

  text-decoration: none;
}

.btn3 {
  color: hsl(179, 100%, 13%);

  text-decoration: none;
}

@media screen and (max-width: 920px) {
  .container {
    width: 918px;
    height: auto;

    margin: 30px 0 20px;

    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow: visible;
  }

  .box1 {
    width: 325px;
    height: 439px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .box2 {
    width: 325px;
    height: 439px;
  }

  .box3 {
    width: 325px;
    height: 439px;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .button {
    padding: 12px 4px 14px 3px;

    margin: 30px 142px 4px 48px;

    width: 137px;
    height: 22px;

    text-align: center;
  }
  .btn3 {
    padding-right: 3px;
  }
}
