/*the body*/

body {
  width: 100vw;
  height: 100vh;

  justify-content: center;

  flex-wrap: wrap;

  display: flex;

  align-items: center;

  margin-top: 22px;
  margin-left: 15px;

  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
}

/*container*/

.container {
  width: 918px;
  height: 500px;

  border-radius: 8px;
  overflow: hidden;

  display: flex;
}
/*orange space*/

.box1 {
  background-color: hsl(31, 77%, 52%);

  width: 309px;
}

/*dark cyan space*/

.box2 {
  background-color: hsl(184, 100%, 22%);

  width: 309px;
}

/*very dark cyan space*/

.box3 {
  background-color: hsl(179, 100%, 13%);

  width: 309px;
}

.img {
  padding-top: 48px;
  padding-left: 48px;
}

.heading {
  font-family: "Big Shoulders Display", cursive;
  font-size: 26.4px;

  color: hsl(0, 0%, 95%);

  padding-left: 48px;
}

.content {
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.6;
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: -7px;
  line-height: 1.6;
  padding-right: 48px;
  padding-left: 48px;
}

.button {
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
  text-align: center;
  border-radius: 30px;
  margin: 85px 110px 40px 49px;
  padding: 14px 3px 10px 0px;
  transition: all 0.4s ease-in-out;
}

.button a {
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background-color: transparent;
}

.button:hover a {
  color: hsl(0, 0%, 95%);
}

.btn1 {
  color: hsl(31, 77%, 52%);
  text-decoration: none;
}

.btn2 {
  color: hsl(184, 100%, 22%);
  text-decoration: none;
}

.btn3 {
  color: hsl(179, 100%, 13%);
  text-decoration: none;
}

@media screen and (max-width: 920px) {
  .container {
    width: 918px;
    height: 100vh;
    margin-top: 65px;
    margin-left: 10px;
    margin-right: 39px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
  }

  .box1 {
    height: 442px;
    width: 336px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .box2 {
    height: 442px;
    width: 336px;
  }

  .box3 {
    height: 442px;
    width: 336px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .button {
    padding: 12px 4px 14px 3px;
    margin: 30px 142px 0px 48px;
    text-align: center;
  }
  .btn3 {
    padding-right: 3px;
  }
}
